<div *ngIf="gameBoxScore" class="container-fluid">
  <h3 class="text-align-center">{{gameBoxScore.game.date}}</h3>
  <div class="col-md-4">
  </div>
  <div class="col-md-offset-4 mt-20">
    <app-scoreboard [game]="gameBoxScore" [season]="season" [detailButton]="false"></app-scoreboard>
  </div>
  <div class="col-md-4">
  </div>

  <div class="col-md-12">
    <div class="col-md-12">
      <h3>Away Team</h3>
      <app-game-stats class="mb-20" [players]="gameBoxScore.awayTeam.awayPlayers.playerEntry"></app-game-stats>
    </div>
    <div class="col-md-12">
      &nbsp;
    </div>
    <div class="col-md-12">
      <h3>Home Team</h3>
      <app-game-stats class="mb-20" [players]="gameBoxScore.homeTeam.homePlayers.playerEntry"></app-game-stats>
    </div>
  </div>
</div>