<div class="container-fluid">
  <h1>Search</h1>

  <form class="container-fluid" name="searchPlayer" (submit)="searchPlayer($event)">
    <div class="form-group col-md-4">
      <label for="season">Season:&nbsp;</label>
      <select class="form-control" name="season" [(ngModel)]="selectedSeason">
      <option *ngFor="let season of seasons" [ngValue]="season">{{season}}</option>
    </select>
    </div>
    <div class="col-md-4">
      <label for="season">Player Name:&nbsp;</label>
      <input type="text" class="form-control  col-md-4" name="name" [(ngModel)]="playerName" />
    </div>
    <div class="col-md-4">
      <label class="col-md-12" for="season">&nbsp;</label>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>

  <div class="jumbotron jumbotron-fluid mt-5" *ngIf="noPlayerFoundFlag">
    <h4>No Player Found</h4>
  </div>

  <div class="jumbotron jumbotron-fluid mt-5" *ngIf="player">
    <div class="container">
      <h5>
        <div class="col-md-3 pull-right">
          <table class="table table-bordered">
            <tr>
              <th>Pts</th>
              <th>Rb</th>
              <th>Ast</th>
            </tr>
            <tr>
              <th>{{stats[0].stats.PtsPerGame['#text']}}</th>
              <th>{{stats[0].stats.AstPerGame['#text']}}</th>
              <th>{{stats[0].stats.RebPerGame['#text']}}</th>
            </tr>
          </table>
          <button class="btn btn-primary" *ngIf="addToListButton" (click)="addToFavorite($event)">
          Add to favorite
        </button>
        </div>
      </h5>

      <p class="lead">{{player.FirstName}}&nbsp;{{player.LastName}}</p>
      <h4>{{team.City}} {{team.Name}} - #{{player.JerseyNumber}}</h4>
    </div>
  </div>
  <app-player-stats *ngIf="player" [rows]="stats"></app-player-stats>

</div>