<h3>
  Schedule
</h3>

<div class="container-fluid">
  <form name="searchSchedule" class="row" (submit)="searchSchedule($event)">
    <div class="form-group col-md-4">
      <label for="season">Season:&nbsp;</label>
      <select class="form-control" name="season" [(ngModel)]="selectedSeason">
      <option *ngFor="let season of seasons" [ngValue]="season">{{season}}</option>
    </select>
    </div>

    <div class="col-md-2">
      <label for="date">Date:&nbsp;</label>
      <div>
        <ng2-datepicker name="date" [options]="options" [(ngModel)]="date"></ng2-datepicker>
      </div>
    </div>
    <div class="col-md-4">
      <label class="col-md-12" for="season">&nbsp;</label>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>

<div class="container-fluid">
  <h4 *ngIf="!games">No games from search result</h4>
  <div *ngIf="games" class="row">
    <app-scoreboard *ngFor="let game of games" [game]="game" [season]="selectedSeason"></app-scoreboard>
  </div>
</div>