/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.body-background {
  background: url('assets/basketball-background-transparent.png') no-repeat
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.light-text {
  color: white !important;
}

.mt-5 {
  margin: 20px 0 0 0;
}

.light-grey {
  background-color: #d3d3d3;
}

.datepicker-input {
  border: 1px solid #ced4da !important;
  border-radius: 5px;
  height: 34px;
  text-align: left !important;
}

a {
  cursor: pointer;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.row-dividers .datatable-body-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.datepicker-input-icon {
  margin-left: -35px;
}
