<div class="container-fluid">
  <h1 class="align-center large-text" style="margin-top: 100px">Daily NBA Fantasy</h1>
  <div class="container">
    <table style="width: 100%">
      <tr>
        <td>
          <h3 class="circle-list">
            <li>Play for FREE</li>
          </h3>
        </td>
        <td>
          <h3 class="circle-list">
            <li>Have fun with friends</li>
          </h3>
        </td>
        <td>
          <h3 class="circle-list">
            <li>No commitment</li>
          </h3>
        </td>
        <td>
          <h3 class="circle-list">
            <li>Stay up to date</li>
          </h3>
        </td>
      </tr>
    </table>
  </div>
  <div class="align-center" style="margin-top: 100px">
    <button md-raised-button color="primary" (click)="auth.login()">Sign Up For Free</button>
  </div>
</div>